body {
  font-family: dosis, sans-serif, arial;
  color: indigo;
  background: #dde1e7;
}

.weather-app {
  max-width: 600px;
  margin: auto;
}

.weather-app-wrapper {
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
  margin: auto;
}

.weather-temperature span {
  font-size: 22px;
  font-weight: 100;
  line-height: 25px;
}

.weather-temperature strong {
  font-size: 48px;
  line-height: 1;
}

.weather-temperature img {
  margin-right: 10px;
  height: 65px;
  width: 65px;
}

.units {
  position: relative;
  font-size: 12px;
}

.small {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  text-align: center;
  font-size: 42px;
}

h6 {
  text-align: center;
  padding-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 22px;
  font-weight: 100;
  line-height: 25px;
  text-transform: capitalize;
}

form {
  display: inline-block;
  margin: auto;
}

.btn {
  height: 50px;
  border: 1px solid indigo;
  border-radius: 5px;
  width: auto;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1),
    0px 4px 8px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1);
}

button.submit {
  width: 500px;
}

button:hover.btn {
  background-color: indigo;
  color: white;
}

input {
  height: 50px;
  border: 1px solid indigo;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1),
    0px 4px 8px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1);
  width: 280px;
  border-radius: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
